body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-height: 40px;
  --contest-details-height: 120px;
  --categories-height: 60px;
  --photo-list-height-percentage: 80%;
  --footer-height: calc(100% - --header-height - --categories-height - --photo-list-height-percentage);

  --padding-small: 4px;
  --padding-medium: 8px;
  --padding-large: 12px;

  --margin-small: 4px;
  --margin-medium: 8px;
  --margin-large: 12px;

  --color-main-blue: #4157B7;
  --color-background-black: #141417;
  --color-main-white: #FFFFFF;
  --color-main-grey: #808080;
}