.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--color-background-black);
  color: var(--color-main-white);

  a {
    color: var(--color-main-white) !important;
  }
}