.Categories {
  height: var(--categories-height);
  display: flex;
  justify-content: center;
  align-items: center;

  & > .categories-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-normal);

    & > .category {
      margin: 8px;
      padding: 8px 32px;
      cursor: pointer;
      border: 2px solid var(--color-main-blue);
      border-radius: 20px;
      color: var(--color-main-blue);
      font-weight: 600;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: var(--color-main-blue);
        color: var(--color-main-white);
      }
    }
  }
}