.Header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-medium);

  & > .name {
    margin: var(--margin-medium);
  }

  & > .settings {
    display: flex;
    align-items: center;

    & > .setting {
      margin: var(--margin-medium);

      & > a {
        text-decoration: none;
        color: black;
      }
    }
  }
}