.Header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-medium);

  & > .name {
    margin: var(--margin-medium);
    font-size: 200%;
    font-weight: 600;
    color: var(--color-main-blue);
    cursor: pointer;
  }

  & > .settings {
    display: flex;
    align-items: center;
    font-size: 110%;

    & > .setting {
      margin: var(--margin-medium);

      & > a {
        text-decoration: none;
        color: black;
      }
    }
  }
}