.Photo {
  height: 280px;
  width: 380px;
  margin: var(--margin-large) auto;

  & > .item {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;

    & svg {
      height: 40px;
      width: 40px;
      fill: var(--color-main-blue);
    }
  }
}